@model IEnumerable<VaccineProject.Models.VaccineModel>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Vaccines</title>
    <!-- Include the stylesheet for VaccineHome.css -->
    <link rel="stylesheet" href="~/css/VaccineHome.css" asp-append-version="true" />
</head>
<body>
    <div class="container p-3">
        <div class="row pt-4">
            <div class="col-6">
                <!-- Section heading -->
                <hr />
                <h2>List of Vaccines</h2>
                <hr />
            </div>
            <div class="col-6 text-right">
                <div class="btn-group" style="display: flex;">
                    <!-- Buttons for navigation -->
                    <a class="btn btn-outline-primary-light" id="btnDashboard" asp-controller="Vaccine" asp-action="Dashboard">Display Dashboard</a>
                    <a asp-controller="Vaccine" asp-action="Create" class="btn btn-success">Add New Vaccine</a>
                    <a asp-action="HomeOrders" asp-controller="Vaccine" class="btn btn-outline-primary-light">Display Orders</a>
                </div>
            </div>
        </div>
        <!-- Search input for filtering vaccine names -->
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for Vaccine names..">
        @if (Model.Any())
        {
            <!-- Table to display vaccine information -->
            <table id="myTable" class="table table-bordered table-striped table-sm" style="width:100%">
                <thead>
                    <tr>
                        <th>Vaccine Name</th>
                        <th>Manufacturer Name</th>
                        <th>Doses Needed</th>
                        <th>Quantity</th>
                        <th>Low Quantity</th>
                        <th>Vaccine Type Name</th>
                        <th>Medical Aid Accepted</th>
                        <th>Vaccine Price</th>
                        <th>Update Vaccine</th>
                        <th>Delete Vaccine</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var vaccine in Model)
                    {
                        <tr>
                            <!-- Display vaccine information in table rows -->
                            <td>@vaccine.VaccineName</td>
                            <td>@vaccine.Manufacturer</td>
                            <td>@vaccine.DosesNeeded</td>
                            <td>@vaccine.Quantity</td>
                            <td>@vaccine.LowQuantity</td>
                            <td>@vaccine.TypeName</td>
                            <td>@vaccine.MedAidNo</td>
                            <td>@vaccine.Price</td>
                            <td>
                                <div class="btn-group" role="group">
                                    <!-- Button to update vaccine information -->
                                    <a asp-controller="Vaccine" asp-action="Update" asp-route-ID="@vaccine.VaccineID" class="btn btn-primary">Update</a>
                                </div>
                            </td>
                            <td>
                                <div class="btn-group" role="group">
                                    <!-- Button to delete a vaccine -->
                                    <a asp-controller="Vaccine" asp-action="Delete" asp-route-ID="@vaccine.VaccineID" class="btn btn-primary">🗑</a>
                                </div>
                            </td>
                        </tr>
                        @if (vaccine.Quantity <= vaccine.LowQuantity)
                        {
                            <tr>
                                <!-- Display an alert message with an exclamation mark -->
                                <td colspan="8" class="text-danger font-weight-bold">
                                    ⚠️ Low quantity alert for @vaccine.VaccineName. Current quantity: @vaccine.Quantity
                                </td>
                                <td class="text-center">
                                    <!-- Add an "Order" button that links to a controller action for ordering -->
                                    <a asp-controller="Vaccine" asp-action="CreateOrder" class="btn btn-warning btn-sm">Order</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        }
        else
        {
            <!-- Display a message if there are no vaccines in the list -->
            <p>No Vaccines were added yet</p>
        }
        <hr />
    </div>
    <div class="col">
        <!-- Useful Links Card -->
        <div class="card my-3">
            <div class="card-header">
                <h2>Useful Links</h2>
            </div>
            <div class="card-body p-0">
                <table class="table w-100 table-dashboard-middle">
                    <tbody>
                        <tr height="50%">
                            <td class="text-center border-right pt-3" width="33%">
                                <h3>Vaccine Bookings</h3>
                                <p>To Display the Vaccine Bookings that were made for patients</p>
                                <!-- Button to navigate to Vaccine Booking page -->
                                <a class="btn" id="btnVaccineBooking" asp-controller="VaccineBooking" asp-action="HomeBooking">Display Vaccine Bookings</a>
                            </td>
                            <td class="text-center border-right pt-3" width="33%">
                                <h3>Vaccine Types</h3>
                                <p>Find the Different Vaccine Types offered at the Facility here</p>
                                <!-- Button to navigate to Vaccine Type page -->
                                <a class="btn" id="btnVaccineType" asp-controller="VaccineType" asp-action="HomeVaccineType">Display Vaccine Types</a>
                            </td>
                            <td class="text-center pt-3" width="33%">
                                <h3>Patient & Vaccine Details</h3>
                                <p>To check whether a patient has received a specific vaccine at the facility before</p>
                                <!-- Button to navigate to Patient Vaccine page -->
                                <a class="btn" id="btnPatientVac" asp-controller="VaccineBooking" asp-action="PatientVaccine">Display Patient and Vaccine Details</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <hr />
   
    <section class="faq-section section-padding">
        <div class container>
            <div class="row">
                <div class="col-lg-6 col-12">
                    <hr />
                    <h2>Frequently Asked Questions about Vaccines</h2>
                    <hr />
                </div>
                <div class="col-lg-6 col-12 m-auto">
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    Are vaccines safe?
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample" style="">
                                <div class="accordion-body">
                                    <!-- Answer to the first question -->
                                    Vaccines are very safe. Your child is far more likely to be hurt by a vaccine-preventable disease than by a vaccine. All vaccines go through rigorous safety testing, including clinical trials, before they are approved for the public. Countries will only register and distribute vaccines that meet rigorous quality and safety standards.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Why are vaccines important?
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample" style="">
                                <div class accordion-body>
                                    <!-- Answer to the second question -->
                                    Vaccines save lives – 2 to 3 million per year, in fact. Vaccines will help protect your child against diseases that can cause serious harm or death, especially in people with developing immune systems like infants. It's important to vaccinate your child. If not, highly contagious diseases such as measles, diphtheria, and polio, which were once wiped out in many countries, will come back.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Can my baby handle all of these vaccines?
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample" style="">
                                <div class="accordion-body">
                                    <!-- Answer to the third question -->
                                    Yes. Many parents worry that multiple vaccines will overload their child's immune system. But children are exposed to hundreds of germs every day. In fact, a common cold or sore throat will put a greater burden on your child's immune system than vaccines.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        // JavaScript function for filtering vaccine names
        function myFunction() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
</body>
</html>
