@model IEnumerable<VaccineProject.Models.VaccinationBookingModel>

<!DOCTYPE html>
<html>
<head>
    <!-- Include the stylesheet for VaccineHome.css -->
    <link rel="stylesheet" href="~/css/VaccineHome.css" asp-append-version="true" />
</head>
<body>
    <div class="container p-3">
        <div class="row pt-4">
            <div class="col-md-6">
                <hr />
                <h2 style="color: black">List of Patient and Vaccine Details</h2>
                <hr />
            </div>
            <div class="col-md-6 text-right">
                <div class="btn-group" style="display: flex;">
                    <!-- Navigation links to the dashboard and registered patients -->
                    <a class="btn btn-outline-primary-light" id="btnDashboard" asp-controller="Vaccine" asp-action="Dashboard">Display Dashboard</a>
                    <a class="btn btn-outline-primary-light" id="btnPatients" asp-controller="VaccinePatients" asp-action="HomePatients">Display Registered Patients</a>
                </div>
            </div>
        </div>
        <br />

        @if (Model.Any())
        {
            <table id="myTable" class="table table-bordered table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>Patient Full Name</th>
                        <th>Nurse/Doctor Full Name</th>
                        <th>Vaccine Name</th>
                        <th>Booking Date</th>
                        <th>Vaccine Doses</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var vaccinationBooking in Model)
                    {
                        <tr>
                            <td width="30%">@vaccinationBooking.PatientFullName</td>
                            <td width="30%">@vaccinationBooking.NurseFullName</td>
                            <td width="30%">@vaccinationBooking.VaccineName</td>
                            <td width="30%">@vaccinationBooking.BookingDate</td>
                            <td width="30%">@vaccinationBooking.DoseNumber</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>No Patient Details have been added</p>
        }
    </div>

    <hr />

    <div class="col">
        <div class="card my-3" id="patient-portal-dashboard-card-useful-links">
            <div class="card-header">
                <h2>Useful Links</h2>
            </div>
            <div class="card-body p-0">
                <table class="table w-100 table-dashboard-middle">
                    <tbody>
                        <tr height="50%">
                            <td class="text-center border-right pt-3" width="33%">
                                <h3 class="text-transform-none">Vaccine Types</h3>
                                <p>Find the Different Vaccine Types offered at the Facility here</p>
                                <!-- Navigation link to display vaccine types -->
                                <a class="btn btn-outline-primary-light" id="btnVaccineType" asp-controller="VaccineType" asp-action="HomeVaccineType">Display Vaccine Types</a>
                            </td>
                            <td class="text-center border-right pt-3" width="33%">
                                <h3 class="text-transform-none">Vaccines</h3>
                                <p>All the Different Vaccine offered at the Facility are found here</p>
                                <!-- Navigation link to display available vaccines -->
                                <a class="btn btn-outline-primary-light" id="btnVaccine" asp-controller="Vaccine" asp-action="HomeVaccine">Display Available Vaccines</a>
                            </td>
                            <td class="text-center border-right pt-3" width="33%">
                                <h3 class="text-transform-none">Vaccine Bookings</h3>
                                <p>To Display the Vaccine Bookings that were made for patients</p>
                                <!-- Navigation link to display vaccine bookings -->
                                <a class="btn btn-outline-primary-light" id="btnVaccineBooking" asp-controller="VaccineBooking" asp-action="HomeBooking">Display Vaccine Bookings</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <hr />

    <script>
        function myFunction() {
            // Declare variables
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");

            // Loop through all table rows, and hide those that don't match the search query
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
</body>
</html>
